name: Telegram Stock Bot

on:
  schedule:
    - cron: "*/1 * * * *"   # runs every 1 minute
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        pip install requests python-telegram-bot==13.15 pandas numpy pillow webdriver-manager selenium

    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      run: |
        python bot.py
